<div class="home">
  <section
    class="home__products-section d-flex flex-wrap justify-content-around align-content-around"
  >
    {{#each products.docs}}
      <article class="home__product-article my-2">
        <div class="card" style="width: 18rem;">
          <img src={{this.photo}} class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: {{this.price}}</li>
            </ul>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </article>
    {{else}}
      <h2>No products were found</h2>
    {{/each}}
  </section>
  <div class="d-flex justify-content-center">
    <ul class="pagination">
      {{#if products.hasPrevPage}}
        <li class="page-item"><a class="page-link" href="{{{prevPageLink}}}">Previous</a></li>
      {{else}}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {{/if}}
      {{#each pagesLinkArray}}
        <li class="page-item"><a
            class="page-link"
            href="{{{this.link}}}"
          >{{this.pageNumber}}</a></li>
      {{/each}}
      {{#if products.hasNextPage}}
        <li class="page-item"><a class="page-link" href="{{{nextPageLink}}}">Next</a></li>
      {{else}}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {{/if}}
    </ul>
  </div>
</div>