<div class="products-admin m-5 d-flex flex-column align-items-center">
  <button
    class="btn btn-success align-self-start"
    id="btn-show-product-creation-form"
  >Add Product</button>

  <form id="product-creation-form" class="w-25 d-none">
    {{! title }}
    <div class="mb-3">
      <label for="title" class="form-label">Product title</label>
      <input type="text" class="form-control" id="title" required />
    </div>
    {{! category }}
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" />
    </div>
    {{! photo }}
    <div class="mb-3">
      <label for="photo" class="form-label">Picture URL</label>
      <input type="url" class="form-control" id="photo" />
    </div>
    {{! stock }}
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" min="0" step="1" class="form-control" id="stock" />
    </div>
    {{! price }}
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        min="0"
        max="9999999"
        class="form-control"
        id="price"
      />
    </div>
    <button
      id="btn-sumbit"
      type="submit"
      class="btn btn-success"
    >Create</button>
    <button id="btn-cancel" type="reset" class="btn btn-danger">Cancel</button>
  </form>

  <section
    class="products-admin__products-section d-flex flex-wrap justify-content-around align-content-around"
  >
    {{#each products.docs}}
      <article class="products-admin__product-article my-2">
        <div class="card" style="width: 18rem;">
          <img src="{{this.photo}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: {{this.price}}</li>
              <li class="list-group-item">Stock: {{this.stock}}</li>
            </ul>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                type="button"
                class="btn btn-update btn-info"
                data-product-id={{this.id}}
              >
                Update
              </button>
              <button
                type="button"
                data-product-id={{this.id}}
                class="btn-delete btn btn-danger"
              >Delete</button>
            </div>
          </div>
        </div>
      </article>
    {{/each}}
    <div class="d-flex justify-content-center">
    <ul class="pagination">
      {{#if products.hasPrevPage}}
        <li class="page-item"><a class="page-link" href="{{{prevPageLink}}}">Previous</a></li>
      {{else}}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {{/if}}
      {{#each pagesLinkArray}}
        <li class="page-item"><a
            class="page-link"
            href="{{{this.link}}}"
          >{{this.pageNumber}}</a></li>
      {{/each}}
      {{#if products.hasNextPage}}
        <li class="page-item"><a class="page-link" href="{{{nextPageLink}}}">Next</a></li>
      {{else}}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {{/if}}
    </ul>
  </div>
  </section>
  <div
    class="modal fade"
    id="updateModal"
    tabindex="-1"
    aria-labelledby="updateModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Update Product</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="product-update-form">
            {{! title }}
            <div class="mb-3">
              <label for="updated-title" class="form-label">Product title</label>
              <input type="text" class="form-control" id="updated-title" required />
            </div>
            {{! category }}
            <div class="mb-3">
              <label for="updated-category" class="form-label">Category</label>
              <input type="text" class="form-control" id="updated-category" />
            </div>
            {{! photo }}
            <div class="mb-3">
              <label for="updated-photo" class="form-label">Picture URL</label>
              <input type="url" class="form-control" id="updated-photo" />
            </div>
            {{! stock }}
            <div class="mb-3">
              <label for="updated-stock" class="form-label">Stock</label>
              <input type="number" min="0" class="form-control" id="updated-stock" />
            </div>
            {{! price }}
            <div class="mb-3">
              <label for="updated-price" class="form-label">Price</label>
              <input
                type="number"
                min="0"
                max="9999999"
                class="form-control"
                id="updated-price"
              />
            </div>
            <button
              id="btn-update"
              type="submit"
              class="btn btn-success"
            >Update</button>
            <button
              id="btn-cancel-update"
              type="reset"
              class="btn btn-danger"
            >Cancel</button>
          </form>
        </div>
    </div>
  </div>
</div>
<script src="/public/js/productsAdmin.js"></script>